@import url(../reset.css);
.hide{display: block;position:absolute;width:0;height:0;text-indent:-9999999px;overflow:hidden;}


* {
    box-sizing: border-box;
}

div {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    position: relative;
    max-width: 940px;
}

ul {
    list-style: none;
    display: block;
    margin: auto;
}

li {
    display: inline-block;
    /*margin: 10px 25px;*/
}

/*a {
    color: #0a2240 !important;
}*/


.nav-tabs>li>a {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #0a2240;
}


.tab-content {
    padding-top: 15px;
    padding-bottom: 100px;
}


.schedule-item {
    border-bottom: 1px solid #e6e6e6;
    /*position: absolute;*/
    /*border: 1px solid black;*/
    top: 80px;
    min-height: 300px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.time-box {
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;

    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid #49539E;
    align-items: center;
    justify-content: center;
    /*position: absolute; !* 추가 *!*/

}
.row {
    position: relative;
}

.col-md-10 {
    position: absolute;
    /*display: flex;*/
    align-items: flex-start;
}


/* duration_start */
.col-md-10>h4 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid rebeccapurple;
    width: 500px;
    height: 50px;

    /*display: flex;*/
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 220px;
    padding-top: 15px;
    padding-left: 10px;
}
.travel_title_pic {
    border: 3px solid aquamarine;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 80px; /* 원하는 위치 조정값 */
    left: 220px; /* 원하는 위치 조정값 */

}

.travel-info {
    display: block;
    height: 600px;
    justify-content: space-between;
    /*border: 3px solid darkgreen;*/

}

.travel_title {
    border: 1px solid yellowgreen;
    width: 400px;
    height: 100px;

    position: relative;
    display: block;

    font-size: 17px;
    top: 80px; /* 원하는 위치 조정값 */
    left: 340px; /* 원하는 위치 조정값 */


}
.reviewpertravel {
    border: 1px solid deeppink;
    width: 700px;
    height: 50px;

    position: relative;
    display: block;
    align-items: center;
    justify-content: center;

    top: 130px; /* 원하는 위치 조정값 */
    left: 40px; /* 원하는 위치 조정값 */
}






/* ====================================================================================== */


/* 커버 */
.plan_page {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.plan_cover{
    width: 100%;
    height: 350px;
    position: relative;
}
.cover_img img{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 350px;
    z-index: 1;
}

.cover_bleft {
    float: left;
    width: 520px;
    height: 100%;
}
.cover_bright{
    position: absolute;
    width: 290px;
    border: 1px solid black;
    float: right;
    color: black;
    font-size: 17px;
    top: 81%;
    left: 70%;
    line-height: 34px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
}
.plan_title {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 30px;
    top: 10%;
    left: 3%;
}
.plan_datetheme {
    width: 100%;
    padding-top: 8px;
}
.plan_date {
    position: absolute;
    color: black;
    font-size: 15px;
    float: left;
    top: 85%;
    left: 3%;
    line-height: 20px;
}
.plan_user {
    position: absolute;
    color: black;
    font-size: 20px;
    float: left;
    top: 75%;
    left: 3%;
    line-height: 20px;
}

.title_function {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 80%;
    margin-top: 10px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.url_setClipboard {
    position: relative;
    border: 1px solid salmon;
}
.buddyBtn {
    float: left;
    padding-left: 1px;
    border: 1px solid saddlebrown;
}
#myButton {
    border: none;
    float: left;
    background-color: white;
    border: 1px solid seagreen;
}



/* 일정표,댓글 탭 */
.plan_mnu_box {
    float: left;
    /*display: block;*/
    /*position: relative;*/
    width: 300px;
    height: 70px;
    /* 수정 */
    margin-right: 300px;
    position: relative;
    top: 10px;
    right:500px;

    background-color: white;
    padding-right: 20px;
    /*border: 1px solid sandybrown;*/
}
.plan_mnu {
    display: block;
    height: 70px;
    line-height: 70px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    color: black;
    float: left;
    cursor: pointer;
    /*border: 1px solid aqua;*/
}
.plan_mnu_line {
    float: left;
    width: 1px;
    height: 40px;
    background-color: #b3b3b3;
    margin-top: 15px;
}











/* 본문(이후) */
.wrap_planpage1 {

    width: 100%;
    height: auto;
    border: 2px solid black;
    margin-top: 100px;
}

.planpage_day{
    position: absolute;
    width: 200px;
    height: auto;
    /*border-right: 2px solid black;*/
    border: 3px solid navy;
}

/*   DAY1  */
.planpage_daytxt {
    position: relative;
    /*line-height: 100px;*/
    font-size: 50px;
    border: 1px solid red;
    width: 100%;
    height: auto;
    justify-content: center;
    /*padding-top: 50px;*/
    /*padding-bottom:50px;*/
    align-items: center;
    margin-left: 45px;
    top: 35%;
}

.planpage_title {
    /* 2020.03.06 */
    position: relative;
    /*border: 1px solid slateblue;*/
    width: 800px;
    height: auto;
    left: 200px;
    font-size: 1.5rem;
    padding-left: 3px;
}

.planpage_daytitle {
    /* 끝 부분 */
    position: relative;
    width: 1000px;
    bottom: 30px;
    left: 200px;
    font-size: 1.2rem;
    padding-left: 3px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.planpage_course1 {
    position: relative;
    bottom: 21px;
    width: 1000px;
    height: auto;
    border-bottom: 2px solid black;
    left: 200px;
    font-size: larger;

}
.planpage_couse1pic img{
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 10px;
    left: 1%;

}

.planpage_course1txt {
    position: relative;
    border: 1px solid slateblue;
    font-size: 1.5rem;
    width: 250px;
    height: 50px;
    top: 15%;
    left: 2%;
}

.planpage_course1review {
    position: relative;
    border: 1px solid black;
    width: 310px;
    height: 80px;
    left: 48%;
    font-size: 15px;
    padding-right: 10%;
    bottom: 10px;
    text-align: left; /* 왼쪽 정렬 추가 */
    padding-left: 2px;
    padding-top: 2px;
    overflow: hidden; /* 내용이 넘칠 경우 감춤 */
    text-overflow: ellipsis; /* 내용이 넘칠 경우 말줄임표 (...) 표시 */

}

/* 본문(이후)끝 */


/* 맵 */
.map {
    display: block;
    /*position: absolute;*/
    border: 1px solid saddlebrown;
    width: 800px;
    height: 300px;
    top: 280px;
    margin-top: 20px;
    left: 15%;
    position: relative;
}
.map img {
    width: 100%;
    height: 300px;
}





/* 댓글 */

.comments {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 280px;
    margin-bottom: 100px;
}

.comm_user_info {
    position: relative;
    width: 800px;
    min-height: 50px;
    height: auto;
    left: 15%;
    display: flex;
    border: 1px solid darkred;
}
.comm_userpic img {
    width: 90px;
    height: 80px;
    margin-top: 10px;
    margin-left: 3px;
    display: flex;
    border: 1px solid black;
    border-radius: 90%;
    position: absolute;
}
.comm_username {
    position: absolute;
    display: flex;

    width: 100px;
    height: 50px;
    /*border: 1px solid navy;*/

    margin-left: 110px;
    margin-top: 10px;

    margin-right: 10px;
    font-weight: bold;
    /*justify-content: center;*/
    /*align-items: center;*/

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.comm_usercommtime {
    position: relative;
    display: flex;

    width: 300px;
    height: 50px;

    /*border: 1px solid deepskyblue;*/
    margin-left: 300px;
    bottom: -15px;
}
.comm_usercommtxt{
    position: relative;
    display: flex;
    width: 800px;
    height: 50px;
    margin-left: 110px;

    top: 15px;
    /*border: 3px solid rgba(64, 186, 195, 0.482);*/
}


.getContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
    top: 170px;

}

.boardList,
.viewModify{
    flex: 1;
    width: 20px;
    height: 50px;

    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    border: none;
    background: white;
}

.boardList {
    color: #49539E;

}

.viewModify{
    margin-left: 10px;
    color: #e76649;
}




















/*  */
#container{margin:0 auto;max-width:1200px;}

/* 게시판 공통 테이블 */
.table_wrap table{width:100%;border-spacing:0;border-top:2px solid #2b2b2b;table-layout:fixed;}
.table_wrap table thead th{padding:16px 10px;border-bottom:1px solid #d8d8d8;background-color:#f9f9f9;font-weight:400;}
.table_wrap table tbody th{padding:15px 10px;border-bottom:1px solid #eee;background-color:#fafafa;font-weight:200;}
.table_wrap table tbody td{position:relative;padding:12px 10px;border-bottom:1px solid #d8d8d8;font-weight:200;text-align:center;}

.b_input {padding:5px 10px;width:50%;border:1px solid #c8c8c8;font-family: inherit;font-weight: 300;box-sizing: border-box;border-radius: 0;-webkit-appearance: none;-moz-appearance: none;appearance: none;vertical-align: middle;}
.b_input.width{width:120px;}


